@import 'partials/variables';
@import 'mixins/typo';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body, #wrapp {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	background: url(../images/body_bg.png);
	background-repeat: repeat;
	font-family: $primary-font-family;

	.new_sticker {
		width: 25px;
		height: 22px;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.ui-autocomplete-loading {
 	    background: white url('../images/ajax-loader2.gif') right center no-repeat;
 	}

	.ui-autocomplete {
		max-height: 250px;
		max-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	/* * html .ui-autocomplete { // asterik(*) before html is inclunded
	    height: 250px;
	}*/

	.ui-autocomplete li {
		font-size: 8pt;
		min-height: 30px;
		border-bottom: 1px solid silver;
	}

	#signup_wrapp {
		//border: 1px solid red;
		width: 500px;
		margin: 30px auto;
		-webkit-box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);
		-moz-box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);
		box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);
		font-family: verdana;
		font-size: 10.5pt;
		padding: 10px;
		text-align: center;
		box-sizing: border-box;
		position: relative;

		#signup_header {
			img {
				width: 100%;
				height: auto;
			}
		}

		form {
			//border: 1px solid blue;
			p {
				//border: 1px solid blue;
				padding: 10px;
				margin: 10px 0px;

				input, select {
					width: 100%;
					height: 30px;
				}

				input[type=submit] {
					cursor: pointer;
					background-color: #F15A2B;
					color: white;
					border: 0px;
				}
			}
		}
	}
}

#wrapp {
	background: url(../images/bg_1.png);
	background-repeat: repeat-x;

	span.close_dropdown {
		//border: 1px solid red;
		position: absolute;
		right: 1px;
		top: 1px;
		font-weight: bold;
		color: #666;
		cursor: pointer;
	}

	#cart_dropdown {
		background-color: white;
		width: 320px;
		min-height: 150px;
		//border: 1px solid red;
		position: relative;
		padding: 5px;
		border-radius: 2px;
		box-shadow: 15px 15px 26px -8px rgba(0,0,0,0.68);



		#ajax_loader {
			margin: 20px auto;
			/*max-width: 64px;
			max-height: 64px;
			width: 64px;
			height: 64px;*/
			display: block;
		}

		#cart_dropdown_header {
			@include font(500, Montserrat, $color-accent);
		}

		.cart_dropdown_product {
			//border: 3px solid red;
			min-height: 100px;
			position: relative;
			margin: 12px 0px;
			background-color: rgba(0,0,0,0.02);

			img {
				//display: none;
				max-width: 70px;
				max-height: 70px;
				height: auto;
				width: auto;
				position: absolute;
				margin: 10px;
				border: 2px solid black;
			}

			.cart_dropdown_prod_name {
				//border: 3px solid green;
				display: inline-block;
				position: relative;
				left: 80px;
				margin: 0px 5px;
				min-height: 70px;
				width: 220px;
				text-align: left;
				padding: 10px 0px 3px;
				//top: 50%;
				//transform: translateY(-50%);
				font-family: 'Russo One';

				span {
					display: block;
					font-size: 11pt;
					margin-bottom: 5px;
				}
			}

			.cart_dropdown_prod_pop {
				position: absolute;
				right: 1px;
				color: red;
				cursor: pointer;
				font-family: 'Russo One';
			}
		}

		#cart_dropdown_footer {
			border-top: 1px solid green;
			//position: absolute;
			//bottom: 5px;
			//right: 5px;
			//left: 5px;
			//display: block;

			span {
				display: block;
				text-align: right;
				font-size: 11pt;
				//border: 1px solid red;
			}

			button {
				@include font(bold, $color: white);
				height: 50px;
				width: 100%;
				background-color: $header-background-color;
				border: 0px;
			}
		}
	}

	#login_dropdown {
		background-color: white;
		width: 300px;
		min-height: 150px;
		//border: 1px solid red;
		position: relative;
		padding: 20px;
		border-radius: 2px;
		box-shadow: 15px 15px 26px -8px rgba(0,0,0,0.68);
	}

	#login_form, #dropdown_track_order_form {
		background-color: white;

		p {
			//border: 1px solid orange;
			margin: 15px 0px 0px;

			&.links {
				&:hover {
					i {
						color: #333;
					}

					a {
						color: $color-accent;
					}
				}

				i {
					color: $color-accent;
				}

				a {
					font-size: 13px;
					text-decoration: none;
					color: #333;
				}
			}
		}

		label {
			display: block;
			color: #666;
			font-weight: bold;
			font-size: 11pt;
		}

		#uname, #pword, #order_number, #track_email {
			height: 30px;
			width: 100%;
			padding: 5px;
			border-radius: 3px;
			border: 1px solid lighten($color-accent, 20%);
		}

		span {
			display: block;
			font-size: 10pt;

			a {
					color: darken($color-accent, 20%);
					text-decoration: none;
				}
		}

		#login_button, #track_order_button, #logout_button {
			width: 95px;
			height: 35px;
			background-color: $header-background-color;
			border: 0px;
			color: white;
			border-radius: 3px;

			&:hover {
				background-color: $color-accent;
				cursor: pointer;
			}
		}

		#login_footer {
			font-size: 11pt;
			text-align: center;
			border-top: 1px solid #eee;
			padding-top: 10px;

			a {
				color: darken($color-accent, 20%);
				text-decoration: none;
			}
		}
	}

	#header {
		position: relative;
		padding-top: 20px;
		background-color: $header-background-color;

		#top_header_wrapp {
			width: 50%;
			max-width: 1000px;
			height: 100%;
			margin: 0 auto;
			//border: 3px solid yellow;
			//overflow: hidden;

			#cart_wrapp, #header_login_wrapp {
				border: 2px outset rgba(255, 255, 255, 0.1);
				height: 50px;
				width: 20%;
				min-width: 150px;
				float: left;

				& > button {
					width: 100%;
					height: 100%;
					background-color: $header-background-color;
					border: 0px;
					outline-style: none;
					cursor: pointer;

					span {
						@include font(bolder, $color: $color-accent);
						font-size: 12pt;
						cursor: pointer;
						//border: 1px solid red;
					}
				}
			}

			#cart_wrapp {
				#cart_icon {
					img {
						width: 32px;
						height: 32px;
					}
				}

				#prod_count {
					background-color: white;
					padding: 0px 5px;
					border-radius: 25%;
					color: red;
				}
			}

			#header_logo_wrapp {
				//border: 1px solid green;
				height: 50px;
				width: 50%;
				float: left;
				position: relative;
				left: 5%;
				text-align: center;

				img {
					height: 100%;
				}
			}

			#header_login_wrapp {
				position: relative;
				left: 10%;
			}

			#search_box {
				//border: 1px solid white;
				text-align: center;
				padding: 10px;
				clear: both;

				input {
					width: 80%;
					padding: 10px;
					border: 0px;
					border-radius: 3px;
				}
			}
		}

		#ribbon {
			height: 30px;
			//border: 1px solid white;

			#left, #right {
				height: 100%;
				width: 50%;
				float: left;
				font-size: .85em;
				text-align: center;

				span {
					@include font(bolder, Montserrat, white);
					@include center_vertical;
				}
			}

			#left {
				background-color: darken($color-accent, 20%);
			}

			#right {
				background-color: $color-accent;
			}
		}

		#nav_bar {
			background-color: #5E5E5E;
			//background: url('../images/floor_track.png');
			//background: url('../images/tyre_track2.png');
			background-position: right center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 50px;
			text-align: center;
			position: relative;

			& > ul {
				list-style: none;
				height: 100%;
				/*border: 1px solid skyblue;*/
				background-repeat: no-repeat;
				background-position: right;

				& > li {
					display: inline-block;
					margin: 0px 15px;
					height: 100%;
					cursor: pointer;
					//border: 1px solid white;

					& > span {
						@include center_vertical;
						@include font(bolder, $color: white);
						font-family: Oswald, 'Helvetica Neue', sans-serif;
						text-shadow: 2px 1px #b03617;

						a {
							color: inherit;
							text-decoration: none;
						}
					}

					&:hover ul {
						display: block;
					}

					ul {
						display: none;
						position: absolute;
						top: 50px;
						min-width: 150px;
						background-color: #5E5E5E;
						list-style: none;
						text-align: left;
						z-index: 1;
						font-family: 'Helvetica Neue';
						text-shadow: none;

						a {
							text-decoration: none;
							color: #EBEBEB;
							font-size: 10pt;
							/*border: 1px solid white;*/
							padding: 10px;
							line-height: 10px;
							display: block;

							&:hover {
								background-color: #EBEBEB;
								color: #262626;
							}
						}
					}
				}
			}
		}
		
	}

	#body_wrapp {
		width: 1000px;
		//min-height: 1000px;
		margin: 0 auto;
		background-color: white;
		overflow: hidden;
		//border: 2px solid blue;
		position: relative;

		#thankyou_wrapp {
			//border: 1px solid red;
			width: 50%;
			margin: 20px auto;

			img {
				width: 100%;
			}
		}

		#nav_menu {
			display: none;
			background-color: $header-background-color;

			#nav_menu_toggle {
				padding: 15px;
				color: white;
				font-size: 13px;
				font-weight: 700;
				font-family: Montserrat;
				//border: 1px solid green;
			}

			#nav_menu_list {
				display: none;
				min-height: 300px;
				//border: 1px solid red;

				/*& > ul {
					margin-left: 10px;

					& > ul {
						margin-left: 20px;
					}
				}*/

				ul {
					list-style-type: none;

					a {
						text-decoration: none;
						color: white;
						font-size: 13px;
						line-height: 1px;
					}
				}

				.main_list {

					& > li {
						margin: 20px 20px;
						background-color: darken($header-background-color, 3%);
						color: white;
						font-weight: bolder;
						padding: 5px;
					}
				}

				.sub_list {

					& > li {
						margin: 10px 40px;
					}
				}
			}
		}

		#no_product {
			width: 50%;
			margin: 50px auto;
			//border: 1px solid black;
			text-align: center;
			color: $color-accent;
			font-size: 18pt;
			font-weight: bolder;

			span {
				color: #333;
			}
		}

		#car_filter_wrapp {
			padding: 10px;
			width: 24%;
			height: 380px;
			/*border: 1px solid brown;*/
			background-color: #EBEBEB;
			position: relative;
			float: left;

			form {
				/*border: 1px solid green;*/
				box-sizing: border-box;
				position: relative;


				p {
					margin: 10px 0px;
					color: black;
				}

				label {
					display: block;
					font-family: Raleway, sans-serif;
					text-indent: 5px;
					color: #333;
				}

				select {
					display: block;
					width: 100%;
					height: 35px;
					background-color: white;
					color: black;
				}

				#filter_car {
					width: 100%;
					height: 35px;
					margin-top: 20px;
					cursor: pointer;
					color: white;
					background-color: #666;
					border: 0px;

					&:disabled {
						color: grey;
						cursor: not-allowed;
					}
				}
			}
		}

		#article {
			width: 24%;
			min-height: 800px;
			//border: 1px solid green;
			position: absolute;
			top: 400px;
			left: 0px;
			//background-color: white;

			.article_tiles {
				text-align: center;
				font-weight: bolder;
				border: 3px solid #eee;
				border-radius: 5px;
				margin-bottom: 30px;
				//padding: 0px 10px;
				//background-color: lighten($header-background-color, 75%);

				span {
					font-size: 16pt;
				}

				img {
					width: 100%;
					//margin: 10px 0px;
					//border: 1px solid blue;
				}

				button {
					padding: 10px;
					width: 100%;
					background-color: green;
					color: white;
					border: 2px solid green;
					border-radius: 5px;
					font-weight: bold;
					cursor: pointer;

					&:hover {
						background-color: lighten(green, 2%);
					}
				}
			}
		}

		#main {
			width: 75%;
			min-height: 800px;
			//border: 2px solid blue;
			position: relative;
			left: 1%;
			float: left;

			#banner_box {
				height: 390px;
				width: 100%;
				/*border: 1px dashed black;*/
				position: relative;

				img {
					width: 100%;
					height: 100%;
				}

				.banner {
					/*border: 1px solid blue;*/
					height: 100%;
					max-height: 100%;
					width: 100%;
					max-width: 100%;
					position: relative;
					list-style: none;
				}

				.unslider{
					position: relative;
				}

				.unslider-nav {
					position: absolute;
					width: 100%;
					bottom: 0px;
					padding: 15px 0px;

					& ol li {
						padding: 2px;
					  border: 2px solid $header-background-color;

					  &.unslider-active {
					  	background: $color-accent;
					  }
					}
				}
			}

			#car_filter_wrapp2 {
				display: none;
			}

			#content {
				//border: 3px solid blue;
				position: relative;
				overflow: hidden;

				#top_seller_header {
					padding: 10px 0px;
					color: white;
					font-size: 23px;
					font-family: 'Russo One';
					text-indent: 15px;
					background: linear-gradient(#f44c25, #b03617);
					background-color: #b03617;
				}

				.topseller_prod {
					//border: 2px solid red;
					width: 31%;
					height: 300px;
					margin: 10px 5px 5px 10px;
					border: 1px solid rgba(0,0,0,0.1);
					position: relative;
					float: left;

					.topseller_prod_image, .topseller_prod_capt {
						position: absolute;
						margin: 0px;
						padding: 0px;
						width: 100%;
					}

					.topseller_prod_image {
						top: 0px;
						height: 80%;
						padding: 5px 0px;

						img {
							width: auto;
							height: 100%;
							max-width: 100%;
							//border: 1px solid red;
						}
					}

					.topseller_prod_capt {
						bottom: 0px;
						height: 20%;
						padding: 0px 10px;
						text-align: center;
						font-weight: bolder;
						font-family: Montserrat;
						color: white;
						background-color: #f44c25;
						box-sizing: border-box;

						span {
							//border: 1px solid blue;
							@include center_vertical;
						}
					}
				}
			}

			#other, #other2 {
				margin-top: 50px;
				border-top: 3px solid orange;
				//min-height: 500px;

				#delivery_info {
					height: 230px;
					margin: 10px;
					padding: 10px;
					//border: 3px solid red;
					width: 50%;
					float: left;
					background-color: lighten(#5E5E5E, 30%);
					border-radius: 5px;

					p {
						//border: 2px dashed skyblue;
						height: 70px;
						text-align: center;

						span {
							@include center_vertical;
							color: #fff;
							float: left;
							//border: 1px solid black;
							width: 82%;
							font-size: 14px;
							line-height: 1.428571429;
							font-family: Montserrat;
						}

						img {
							@include center_vertical;
							width: 18%;
							height: 64px;
							padding: 5px;
							display: block;
							position: relative;
							float: left;
							border: 2px solid #666;
							border-radius: 7px;
							background-color: #ababab;
						}
					}
				}

				#newsletter_wrapp {
					height: 230px;
					//border: 2px solid green;
					width: 40%;
					margin: 10px;
					padding: 35px 10px;
					float: left;
					position: relative;
					border-radius: 5px;
					//background-color: lighten($color-accent, 5%);
					background-color: lighten(#5E5E5E, 30%);

					p {
						border: 2px double #eee;
						text-align: center;
						@include font(bold, Montserrat, black);

						img {
							background-color: $header-background-color;
							padding: 10px;
							width: 64px;
							height: 64px;
							display: block;
							margin: 5px auto;
						}

						span {
							@include font(500, Montserrat, white);
							font-size: 14px;
							line-height: 1.428571429;
						}
					}

					#newsletter_form_wrapp {
						border: 2px solid white;
						height: 32px;

						form {
							width: 100%;
							height: 100%;

							input[type=text] {
								width: 75%;
								height: 100%;
								border: 0px;
								padding: 5px;
								border-radius: 0px;
								-webkit-border-radius: 0px;
							}

							input[type=submit] {
								width: 25%;
								height: 100%;
								border: 0px;
								border-radius: 0px;
								-webkit-appearance: none;
								-webkit-border-radius: 0px;
								background-color: $header-background-color;
								@include font($color: white);
							}
						}
					}
				}

				#service_pack {
					display: none;
				}
			} //other

			#other2 {
				display: none;
			}
		} //main

		#about {
			padding: 0px 20px;
			//border: 3px solid red;
			color: #333;
			font-size: 14px;
			line-height: 1.428571429;
			text-align: justify;
			margin: 50px 0px 20px;
			position: relative;

			h4 {
				@include font(500, Montserrat, $color-accent);
				border-bottom: 1px solid $color-accent;
				font-size: 18px;
				line-height: 1.1;
				margin: 20px 0px 10px;
			}

			a {
				@include font($color: $color-accent);
				text-decoration: none;
			}
		}

		//######### Spare and Servicing #########

		#spares_servicing_filter, #car_filter_landing_pg {
			display: block;
			height: 50px;
			position: relative;
			background-color: darken($color-accent, 20%);

			select {
				width: 25%;
				height: 30px;
				margin: 10px;
				border-radius: 3px;
				background-color: white;
			}

			button[type=submit] {
				width: 150px;
				height: 30px;
				margin: 10px 0px;
			}
		}

		#gtb_filter {
			margin: 0px 20px;
			min-height: 250px;
			box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);
			position: relative;
			min-height: 275px;

			#wheel_tyre_filter, #battery_filter, #grille_guard_filter, #tyre_brand_filter, #battery_brand_filter {
				//border: 1px solid red;
				padding: 10px;
				width: 15%;
				position: absolute;

				p {
					margin: 15px 0px;
				}

				input, select {
					display: block;
					width: 100%;
					height: 30px;
				}
			}

			#battery_filter,
			#grille_guard_filter {
				width: 33%;
			}

			#tyre_brand_filter, #battery_brand_filter {
				//border: 1px solid blue;
				width: 20%;
				padding: 30px 10px;
				top: 0px;
				left: 20%;
			}

			#battery_brand_filter {
				left: 35%;
			}
		}

		.page_header {
			margin: 15px 0px;
			font-size: 18pt;
			text-transform: uppercase;
			@include font(bold, Montserrat, darken($color-accent, 10%));
		}

		.page_sub_header {
			margin: 20px 0px 5px;
			font-size: 14pt;
			text-transform: uppercase;
			text-align: left;
			@include font(bold, Montserrat, darken($color-accent, 10%));
		}

		h3 {
			span {
				font-weight: 400;
				color: #333;
			}
		}

		#car_search_wrapp {
			//border: 1px solid red;
			margin: 30px 20px 0px;

			h2 {
				border-bottom: 3px solid $header-background-color;
				font-family: Montserrat;
				color: #333;
				font-size: 16pt;
			}

			ul {
				padding-left: 20px;
				//border: 1px solid blue;
				overflow: hidden;
				margin-bottom: 30px;

				li {
					//border: 1px solid red;
					margin: 10px;
					float: left;
					width: 30%;
					list-style-type: square;
					color: $color-accent;

					a {
						color: #333;
						text-decoration: none;

						&:hover {
							color: inherit;
						}
					}
				}
			}
		}

		#cybersale_banner {
			position: relative;
			max-width: 100%;
			height: auto;
			width: auto;
			//border-radius: 5px;
			box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
			-webkit-box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
			-moz-box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
			-o-box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
		}

		.product_wrapp {
			//border: 1px solid red;
			//background-color: green;
			overflow: auto;
			margin-top: 30px;

			.product_box {
				height: 450px;
				border: 1px solid #eee;
				padding: 5px;
				display: inline-block;
				width: 23.5%;
				margin: 0px 5px 20px;
				position: relative;

				.deal {
					background-color: #F99;
					color: black;
					position: absolute;
					left: 10px;
					padding: 2px;
				}

				&:hover {
					box-shadow: 0px 0px 2px #aaa;
				}

				.product_image {
					height: 60%;
					width: 100%;
					//border: 1px solid red;

					img {
						/*max-width: 100%;*/
						/*max-height: 100%;*/
						width: 100%;
						height: 100%;
					}
				}

				.product_name {
					height: 20%;
					width: 100%;
					padding-top: 15px;
					text-transform: capitalize;
			    font-size: .8em;
			    font-weight: 600;
			    font-family: Raleway, sans-serif;
					color: #5e5e5e;
					/*border: 1px solid green;*/
				}

				.product_price {
					//height: 10%;
					padding: 2px 0px; 
					width: 100%;
					border-top: 1px solid rgba(204, 204, 204, 0.33);
					color: #363636;
			    font-weight: 600;

			    p {
			    	padding: 3px 0px;
			    }
				}

				.product_button {
					//height: 10%;
					width: 100%;
					//border: 1px solid yellow;
				}
			}//product_box

			.product_desc_wrapp {
				//border: 1px solid green;

				.product_desc_img {
					width: 48%;
					height: 100%;
					float: left;
					border: 1px solid #eee;
				}

				.product_info {
					margin-left: 20px;
					width: 48%;
					height: 100%;
					float: left;
					/*border: 1px solid yellow;*/

					#windshield_form {
						font-weight: bolder;
						color: blue;
						line-height: 30px;

						label {
							color: black;
							cursor: pointer;
						}

						input[type=radio] {
							margin: 2px;
						}
					}

					.price_addtocart {
						height: 70px;
						background-color: #eee;
						/*border: 1px solid purple;*/
						position: relative;
						top: 15px;

						.price_wrapp, .addtocart, .glyphs {
							float: left;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							margin: 0px 20px 0px;
							//border: 1px solid green;
						}

						.addtocart {
							select {
								height: 30px;
							}
						}
					}

					.product_desc {
						padding: 5px;
						margin-top: 15px;
						/*border: 3px solid orange;*/
						text-align: justify;
						font-size: 14px;
				    line-height: 1.428571429;
				    color: #333;

						h4 {
							color: #D43A16;
							border-bottom: 1px solid #eee;
							font-size: 18px;
							font-family: 'Helvetica Neue' Helvetica Arial sans-serif;
    					font-weight: 500;
    					line-height: 1.1;
    					margin: 10px 0px 10px;
						}

						.phy_feature {
							//border: 2px solid blue;
							position: relative;
							margin: 10px 0px;
							font-size: 14px;
							line-height: 1.428571429;
							color: #333;

							li {
								//border: 2px solid blue;
								width: 65%;
							}

							img {
								position: absolute;
								right: 0px;
								bottom: 0px;
							}
						}
					}
				}//product_info
			}

			#shipping_form, #track_order_form {
				width: 30%;
				margin: 20px;
				padding: 20px;
				float: left;
				box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);

				p {
					margin-bottom: 15px;
				}

				label {
					color: #666;
					font-weight: bold;
					font-size: 11pt;
				}

				input[type=text], select {
					width: 100%;
					height: 30px;
					padding: 5px;
					border-radius: 3px;
					border: 1px solid lighten($color-accent, 20%);
				}

				select {
					border: 1px solid lighten($color-accent, 20%);
				}

				#shipping_button, #track_order_button, #track_order_button2 {
					width: 95px;
					height: 35px;
					background-color: $header-background-color;
					border: 0px;
					color: white;
					border-radius: 3px;
					margin-bottom: -15px;

					&:hover {
						background-color: $color-accent;
						cursor: pointer;
					}
				}
			}

			#order_history_wrapp {
				float: left;
				width: 35%;
				margin: 20px 5px;
				box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);
				font-size: 12px;
			}

			#track_order_form {
				width: 25%;
				margin-left: 10px;
			}

			.order_track_wrapp {
				margin: 20px;
        padding: 1em 2em;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);

				.progress-indicator {

					& > li {
            min-height: 80px;
					}

					span.subdued {
						color: #666;
						display: block;
						font-size: 12px;
						margin-left: 10px;
					}
        }
			}
		}//product_wrapp

		.page_num {
			margin: 30px 5px 0px;
			min-height: 50px;
			//border: 1px solid red;

			.page_link {
				padding: 5px 10px;
				//border: 2px solid blue;
				color: white;
				text-decoration: none;
				background-color: $color-accent;
			}

			.cur_link, .page_link:hover {
				padding: 5px 10px;
				color: white;
				text-decoration: none;
				background-color: $header-background-color
			}
		}

		//##### checkout #####
		#checkout_wrapp {

			h4 {
				background-color: darken($color-accent, 10%);
				color: white;
				margin: 20px 0px;
			}

			#login_checkout, #payment_checkout, #shipping_checkout, #cart_checkout, #checkout_button {
				//border: 2px dashed red;
				box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.68);
				margin: 10px;
			}

			#login_checkout, #payment_checkout {
				height: 300px;
				width: 30%;
				float: left;
			}

			#login_checkout {
				padding: 15px;
			}

			#payment_checkout {
				padding: 15px;

				p {
					margin: 15px 0px 0px;
				}

				.payment_image {
					margin: 10px 0px;
					padding-left: 20px;
					//border: 1px solid green;

					img {
						width: auto;
					}
				}

				label {
					//border: 1px solid red;
					padding-left: 10px;
					color: #666;
			    font-weight: bold;
			    font-size: 11pt;
			    cursor: pointer;
				}

				#delivery_duration {
					background-color: $color-accent;
					color: white;
					text-align: center;
					padding: 5px;
					font-weight: bold;
					//border: 1px solid blue;
					width: 90%;
					margin: 25px auto;
				}
			}

			#shipping_checkout {
				width: 33%;
				float: right;
				padding: 15px;

				p {
					margin-bottom: 15px;
				}

				label {
					color: #666;
					font-weight: bold;
					font-size: 11pt;
				}

				input[type=text], select {
					width: 100%;
					height: 30px;
					padding: 5px;
					border-radius: 3px;
					border: 1px solid lighten($color-accent, 20%);
				}

				select {
					border: 1px solid lighten($color-accent, 20%);
				}

				#shipping_button {
					width: 95px;
					height: 35px;
					background-color: $header-background-color;
					border: 0px;
					color: white;
					border-radius: 3px;
					margin-bottom: -15px;

					&:hover {
						background-color: $color-accent;
						cursor: pointer;
					}
				}
			}

			#cart_checkout {
				width: 62%;
				float: left;
				min-height: 350px;
				margin-left: 10px;

				#empty_cart {
					color: $color-accent;
					//border: 1px solid green;
					text-align: center;
					font-size: 2em;
					margin: 100px 0px 0px;

					span {
						color: initial;
						margin: 25px 0px;
						display: block;
					}
				}

				.filled_cart_prod {
					//border: 3px solid red;
					position: relative;
					margin: 15px;
					//padding-bottom: 20px;
					min-height: 100px;
					font-size: 12pt;
					background-color: rgba(0,0,0,0.02);

					form {
						//border: 1px solid blue;
						display: inline-block;
						margin: 10px;
						width: 50%;
						height: 100px;

						p {
							//background-color: red;
							border: 1px solid black;
							border-radius: 5px;
							padding: 5px;
						}

						input {
							height: 30px;
							outline-style: none;

							&[type=text] {
								width: 80%;
								padding: 5px;
								border: 0px;
								border-radius: 0px;
								-webkit-appearance: none;
							}

							&[type=submit] {
								width: 20%;
								border: 0px;
								border-radius: 0px;
								-webkit-appearance: none;
							}
						}
					}

					img {
						max-width: 70px;
						max-height: 70px;
						height: auto;
						width: auto;
						margin: 10px;
						border: 2px solid black;
					}

					.filled_cart_prod_name {
						position: absolute;
						//top: 35px;
						//border: 1px solid black;
						height: 70px;
						width: 50%;
						top: 50%;
						transform: translateY(-50%);
					}

					.filled_cart_prod_price {
						position: absolute;
						top: 35px;
						right: 10px;
						//border: 1px solid black;

						& > span {
							display: block;
							//text-align: right;
							//border: 1px solid green;
							margin: 10px 0px;
							width: 100%;
							position: relative;

							.filled_cart_final_price_title {
								display: inline-block;
								width: 65%;
								text-align: right;
							}

							.filled_cart_final_price {
								position: absolute;
								right: 0px;
								top: 50%;
								transform: translateY(-50%);
								//border: 1px solid red;
							}
						}
					}
				}

				.coupon_wrapp {
					//min-height: 180px;
					min-height: 270px;
					padding: 5px;
				}

				.coupon_wrapp_final_prices_wrapp {
					width: 45%;
				}
			}

			#checkout_button {
				float: right;
				border: 0px;
				height: 50px;
				padding: 5px;
				width: 33%;

				button {
					width: 100%;
					height: 100%;
					border: 0px;
					color: white;
					border-radius: 3px;
					background-color: $color-accent;
					cursor: pointer;
				}
			}
		}

		#footer_pages_wrapp {
			//border: 1px solid red;
			margin: 20px;
			padding: 20px;
			line-height: 30px;
			color: #333;
			text-align: justify;

			h2.page_header {
				color: $header-background-color;
				font-family: 'Russo One';
				text-align: left;
			}

			ul {
				list-style-type: square;
				padding-left: 20px;

				li {
					color: $color-accent;

					b, span {
						color: #333;
					}
				}
			}

			h3 {
				text-align: center;
				margin-top: 15px;

				a:link {
					color: $color-accent;
					text-decoration: none;
				}
			}

			.how_to_shop_images {
				margin: 20px 0px 30px;
				border: 1px solid black;

				img {
					max-width: 100%;
					width: auto;
					height: auto;
				}
			}

			#contact_form {
				//border: 1px solid black;

				.contactus_field {
					//border: 1px solid green;
					position: relative;

					input[type=text] {
						color: #666;
						height: 35px;
						width: 300px;
						padding: 5px 5px 5px 25px;
						border-radius: 3px;
					}

					textarea {
						color: #666;
						resize: none;
						min-height: 250px;
						min-width: 500px;
						padding: 10px 5px 5px 25px;
					}

					i {
						position: absolute;
						top: 10px; left: 5px;
						color: grey;
						font-weight: bolder;
					}
				}

				p {
					margin: 10px 0px;
					//border: 1px solid red;

					span {
						font-size: 16pt;
					}

					select {
						height: 30px;
					}
				}

				input[type=submit] {
					padding: 0px 20px;
					height: 40px;
					width: 180px;
					background-color: $header-background-color;
					color: white;
					border: 0px;
					cursor: pointer;
				}
			}
		}

		#call_tech_wrapp, #call_tow_truck_wrapp {
			padding: 20px;
			min-height: 800px;

			img {
				position: relative;
				max-width: 100%;
				height: auto;
				width: auto;
				border-radius: 5px;
				box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
				-webkit-box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
				-moz-box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
				-o-box-shadow: 2px 2px 26px -4px rgba(0,0,0,0.68);
			}

			#call_tech_form, #call_tow_truck_form {
				display: block;
				margin-top: 50px;
				position: relative;
				padding: 15px;
				border-radius: 5px;
				font-weight: 400;

				p {
					margin: 10px 0 2px 0;
				}

				input, select {
					width: 35%;
					margin-bottom: 10px;
				}

				.tech_fields {
					position: relative;

					input[type=text] {
						padding: 5px 5px 5px 25px;
						border-radius: 5px;
						outline-style: none;
						border: 2px solid orange;
					}

					i {
						position: absolute;
						top: 8px; left: 5px;
						color: grey;
						font-weight: bolder;
					}
				}

				select {
					border-radius: 5px;
					padding: 10px;
					background-color: #D85C00;
					color: white;
					font-weight: bolder;
					outline-style: none;
				}

				input[type=submit] {
					border-radius: 20px;
					padding: 10px;
					/*border: 3px solid #4725f4;
					background-color: #4725f4;*/
					border: 3px solid #c42623;
					background-color: #c42623;
					color: white;
					font-weight: bolder;
					display: block;
					margin: 10px 0px;
					cursor: pointer;
					background: -webkit-linear-gradient(#e95654, #c42623);
					background: -moz-linear-gradient(white, silver, white);
					background: linear-gradient(#e95654, #c42623);

					&:focus {
						outline-style: none;
					}

				}

				#response_box {
					position: absolute;
					top: 50px;
					right: 50px;
					font-size: x-large;
					color: #444;
					text-align: center;
				}
			}
		}
	} //body_wrapp

	#footer {
		clear: both;
		padding: 50px 50px 10px;
		min-height: 400px;
		background-color: $header-background-color;
		@include font($color: white);
		overflow: hidden;

		& > div {
			//border: 1px solid white;
			width: 20%;
			float: left;
			margin: 0px 15px;
			

			h4 {
				border-bottom: 1px solid white;
				@include font(bold, Montserrat, $color-accent);
				font-size: 14px;
			}

			li {
				list-style: none;
			}
		}

		#sub_footer1 {

			img {
				width: 200px;
				margin: 20px 0px 10px;
			}

			p {
				font-size: 13px;
			}

			ul.footer_social_icons {

				li {
					display: inline-block;
					list-style: none;
				}

				img {
					width: 32px;
					height: 32px;
					margin-right: 10px;
				}

				p {
					position: relative;
					margin-top: -25px;


					span {
						@include center_vertical;
						display: inline-block;
						font-size: 20px;
					}
				}
			}
		}

		#sub_footer2, #sub_footer3 {

			ul {
				margin-top: 10px;
			}

			li {
				padding: 10px 0px;
				font-size: 12px;

				a {
					@include font($color: white);
					text-decoration: none;

					&:hover {
						color: $color-accent;
					}
				}
			}
		}

		#sub_footer4 {
			width: 23%;

			img {
				margin-top: 10px;
				width: auto;
				height: auto;
				max-width: 100%;
			}
		}

		#copyright {
			clear: both;
			margin-top: 50px;
			width: 90%;
			//border: 1px solid white;
			font-family: 'Russo One';
			font-size: 13px;

			span {
			}
		}
	}

	.center {
		text-align: center;
	}

	.align_right {
		text-align: right;
	}

	.align_left {
		text-align: left;
	}

	.add_cart_button {
		background-color: #D43A16;
		box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.3); 
   	padding: 7px 8px 8px 8px;
   	color: white;
   	border: 0px;

   	&:hover {
	   	margin-left: 10px;
	 		transform: scale(1.2);
	   	text-shadow: .5px .5px #363636;
   	}
 	}

 	.price {
 		color: darken($color-accent, 10%);
 		font-size: 1.3em;
 		font-family: Montserrat, sans-serif;
 		font-weight: bolder;
 	}

 	.price_off {
 		color: #f44c25;
    font-size: 0.9em;
    text-decoration: line-through;
 	}

 	.deal2 {
 		border: 2px solid #da0;
 		color: blue;
 		padding: 0 3px;
 		text-decoration: none;
 	}

 	.quantity {
 		color: blue;
 	}

 	.clearfix {
 		clear: both;
 		display: block;
 	}

 	.product_desc_name {
 		//border: 1px solid green;
 		margin-bottom: 15px;
 		font-size: 14pt;
 		font-family: Montserrat;
 		font-weight: normal;
 		color: #444;
 	}

 	.error {
 		color: red;
 		font-weight: bold;
 	}

 	.coupon_error {
 		@extend .error;
 		font-size: 10pt;
 	}

 	.pass {
 		color: green;
 	}

 	.coupon_pass {
 		@extend .coupon_error;
 		@extend .pass;
 	}

 	.like_button:hover {
 		cursor: pointer;
 		// @extend .error;
 	}
}